tp1_AltaSeguridadNosCuida/LaTeX/tp1.aux
tp1_AltaSeguridadNosCuida/LaTeX/tp1.toc
tp1_AltaSeguridadNosCuida/LaTeX/tp1.out
tp1_AltaSeguridadNosCuida/ejemplos/apunte_tads_basicos.log
tp1_AltaSeguridadNosCuida/ejemplos/apunte_tads_basicos.synctex.gz
tp1_AltaSeguridadNosCuida/LaTeX/tp1.aux
tp1_AltaSeguridadNosCuida/LaTeX/tp1.toc
NuevoFinal - copia
tp1_AltaSeguridadNosCuida/LaTeX/tp1.synctex.gz
*.log
tp1_AltaSeguridadNosCuida/LaTeX/tp1.synctex.gz
tp1_AltaSeguridadNosCuida/LaTeX/tp1.log
tp1_AltaSeguridadNosCuida/LaTeX/tp1.synctex.gz